In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
poblacion = pd.read_csv("../arch/Poblacion en America.csv")
poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pais       27 non-null     object
 1   Poblacion  27 non-null     float64
dtypes: float64(1), object(1)
memory usage: 560.0+ bytes

In [3]:
poblacion

                                Pais   Poblacion
0                             Belize     397.621
1                         Costa Rica    5094.114
2                        El Salvador    6486.201
3                          Guatemala   17915.567
4                           Honduras    9904.608
5                             Mexico  128932.753
6                          Nicaragua    6624.554
7                             Panama    4314.768
8                          Argentina   45195.777
9   Bolivia (Plurinational State of)   11673.029
10                            Brazil  212559.409
11                             Chile   19116.209
12                          Colombia   50882.884
13                           Ecuador   17643.060
14       Falkland Islands (Malvinas)       3.483
15                     French Guiana     298.682
16                            Guyana     786.559
17                          Paraguay    7132.530
18                              Peru   32971.846
19                          Suriname     586.634
20                           Uruguay    3473.727
21                         Venezuela   28435.943
22                           Bermuda      62.273
23                            Canada   37742.157
24                         Greenland      56.772
25         Saint Pierre and Miquelon       5.795
26          United States of America  331002.647

In [6]:
poblacion_argentina = poblacion.loc[poblacion["Pais"]=="Argentina"]
poblacion_argentina

        Pais  Poblacion
8  Argentina  45195.777

C:\Users\Tomi\AppData\Local\Temp\ipykernel_4936\2768931214.py:1: UserWarning: Matplotlib is currently using module://matplotlib_inline.backend_inline, which is a non-GUI backend, so cannot show the figure.
  plt.ginput(poblacion)

[]